$tags-item-margin: 15px

ul.tags-preview
  @extend .right
  @extend .inline-list
  margin-bottom: 0
  margin-top: 10px

ul.tags-show
  @extend .inline-list
  margin: 0
    left: -$tags-item-margin

.tags-item
  margin-left: $tags-item-margin !important

.tags-item--name
  margin-left: 3px

